*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 34%, 41%);


--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}

header{
    /* border: 2px solid red; */
    background-color: green;
    min-height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header nav{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px;
    }

    nav ul{
        /* border: 2px solid yellow; */
        display: flex;
        list-style-type: none;
        gap: 40px;
        
    }


ul li{
     color: var(--White);
}

.ham-times{
    display: none;
}

  
    .creatives{
        /* border: 2px solid pink; */
        text-align: center;
        font-size: 50px;
        margin-top: 100px;
        color: var(--White);
    
        }

    .arrow-down{
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }


.egg-section{
    /* border: 2px solid yellowgreen; */
    display: flex;
    }


.egg-text{
    /* border: 2px solid blue; */
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;
}

.eggbrand{
    /* border: 2px solid blue; */
    font-size: 40px;
    color: var(--Very-dark-desaturated-blue);
    }

.eggservice{
    margin-top: 30px;
    line-height: 1.5;
    font-weight: bold;
    color: var(--Very-dark-grayish-blue);
}


.eggcontent{
   /* border: 2px dotted red; */
   max-width: 350px;
   }

   .eggengage{
    margin-top: 25px;
    line-height: 0.3;
    border-bottom: 10px solid yellow;
    border-radius: 10px;
    display: inline-block;
    color: var(--Very-dark-desaturated-blue);
   }


.egg-image{
    /* border: 2px solid red; */
    height: 500px;
    width: 50%;
    background-image: url(./images/desktop/image-transform.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cup-section{
    /* border: 2px solid orange; */
    display: flex;
    }


.cup-text{
    /* border: 2px solid indigo; */
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .cupbrand{
        /* border: 2px solid blue; */
        font-size: 40px;
        color: var(--Very-dark-desaturated-blue);
        }
    
    .cupservice{
        /* border: 2px solid red; */
        margin-top: 30px;
        line-height: 1.5;
        font-weight: bold;
    color: var(--Very-dark-grayish-blue)
    }
    
    
    .cupcontent{
       /* border: 2px dotted red; */
       max-width: 350px;
       }
    
       .cupengage{
        margin-top: 25px;
        line-height: 0.3;
        border-bottom: 10px solid var(--Soft-red);
        border-radius: 10px;
        display: inline-block;
        color: var(--Very-dark-desaturated-blue);
       }


.cup-image{
    /* border: 2px solid orchid; */
    height: 500px;
    width: 50%;
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cherryandorange-section{
    /* border: 2px solid olive; */
    display: flex;
    }


.cherry-image{
    /* border: 2px solid magenta; */
    height: 500px;
    width: 50%;
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cherry-text{
    /* border: 2px solid; */
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;   
}

.cherry-content{
    /* border: 2px solid; */
    max-width: 300px;
    text-align: center;
    margin-bottom: 30px;
  }

  .cherrybrand{
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 40px;
    color: var(--Dark-desaturated-cyan);
  }

  .cherryservice{
    text-align: center;
    color: var(--Dark-desaturated-cyan);
    font-weight: bold; 
  }

.orangee-image{
    /* border: 2px solid teal; */
    height: 500px;
    width: 50%;
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.orangeetext{
    /* border: 2px solid; */
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    color: var(--Very-dark-desaturated-blue); 
}

.orangeecontent{
    /* border: 2px solid; */
    max-width: 300px;
    text-align: center;
    margin-bottom: 30px;
  }

  .orangeebrand{
    margin-bottom: 38px;
    line-height: 1.5;
    font-size: 40px;
  }

  .orangeeservice{
    text-align: center;
    font-weight: bold;
  }

.clienttestimonials{
        /* border: 3px solid yellow; */
        background-color: var(--White);
        text-align: center;
        margin-top: 70px;
        margin-bottom: 80px;
        font-size: 20px;
        color: var(--Grayish-blue);
}


.testimonials{
    /* border: 4px dotted blue; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    gap: 50px;
}

.emily{
    /* border: 2px solid green; */
    text-align: center;
    line-height: 1.5;
    }

.emilyimage{
    border-radius: 400px;
   
}

.emilyone{
    padding: 20px;
}

.emilybrand{
    margin-top: 40px;
    color: var(--Very-dark-grayish-blue);
    font-weight: bold;
}

.emilyservice{
    margin-top: 50px;
    color: var(--Very-dark-desaturated-blue);

}

.emilyengage{
    color: var(--Grayish-blue);
}

.thomas{
    /* border: 2px solid orange; */
    text-align: center;
    line-height: 1.5;
}

.thomasimage{
    border-radius: 400px;
}

.thomasone{
    padding: 20px;
}

.thomasbrand{
    margin-top: 40px;
    color: var(--Very-dark-grayish-blue);
    font-weight: bold;
}

.thomasservice{
    margin-top: 25px;
    color: var(--Very-dark-desaturated-blue);

}

.thomasengage{
    color: var(--Grayish-blue);
}

.jenie{
    /* border: 2px solid yellow; */
    text-align: center;
    line-height: 1.5;
}

.jenieimage{
    border-radius: 400px;
}

.jeniebrand{
    margin-top: 40px;
    color: var(--Very-dark-grayish-blue);
    font-weight: bold;
}

.jenieservice{
    margin-top: 50px;
    color: var(--Very-ark-desaturated-blue);
}

.jenieengage{
    color: var(--Grayish-blue);
}

.jenieone{
    padding: 20px;
}



.prefooter{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;
    }


.yogurt{
    /* border: 2px solid orange; */
    height: 300px;
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    

.orangeapple{
    /* border: 2px solid red; */
    height: 300px;
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}    

.icecreampaper{
    /* border: 2px solid yellow; */
    height: 300px;
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.sugaerstak{
    /* border: 2px solid palevioletred; */
    height: 300px;
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }


.footer{
    /* border: 5px solid red; */
    background-color: var(--Dark-moderate-cyan);
    }


.footerlogo{
    /* border: 2px dotted greenyellow; */
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--Dark-desaturated-cyan) ;
}


.navii{
    /* border: 2px solid yellow; */
    list-style-type: none;
    gap: 80px;  
    display: flex;
    justify-content: center;
    color: var(--Dark-desaturated-cyan);
}

.whity{
    color: var(--White);
}


.footer-sm{
    padding-top: 50px;
    padding-bottom: 70px;
    /* border: 2px solid black; */
    text-align: center;
    word-spacing: 40px;
}

.twhity{
    color: var(--White);
}














@media(max-width: 600px){
    .ham-times{
        display: block;
    }
    nav ul{
        display: none;
    }
    .creatives{
        margin-top: 20px;
        font-weight: bolder;
    }
    .arrow-down{
        margin-top: 50px;
    }
    .egg-section{
        flex-direction: column;
    }
    .egg-text{
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    .eggbrand{
        font-size: 40px;
    }
    .egg-image{
        width: 100%;
        order: -1;
    }
    .cup-section{
        flex-direction: column;
    }
    .cup-image{
        width: 100%;
    }
    .cup-text{
        width: 100%;
        text-align: center;
        font-weight: bolder;
        }
    .cherryandorange-section{
        flex-direction: column;
    }
    .cherry-image{
        width: 100%;
    }
    .orangee-image{
        width: 100%;
    }
    .testimonials{
        grid-template-columns: repeat(1, 1fr);
    }
    .clienttestimonials{
        font-size: 13px;
    }
    .prefooter{
        grid-template-columns: repeat(2, 1fr);
    }
    .arrow-down{
        padding-bottom: 100px;
    }
}

